:root {
    --field-size: 7.5rem;
    --mark-size: calc(var(--field-size) * 0.9);
}

body {
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 7.5rem);
    grid-template-rows: repeat(3, 7.5rem);
}

.gameboard > .field {
    border: none;
    cursor: pointer;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gameboard > .field:nth-child(2),
.gameboard > .field:nth-child(5),
.gameboard > .field:nth-child(8) {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.gameboard > .field:nth-child(4),
.gameboard > .field:nth-child(5),
.gameboard > .field:nth-child(6) {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.gameboard > #X::before,
.gameboard > #X::after {
    content: "";
    width: calc(var(--field-size) * 0.1);
    height: var(--mark-size);
    background-color: black;
    border-radius: 1rem;
    position: absolute;
}

.gameboard > #X::before {
    transform: rotate(45deg);
}

.gameboard > #X::after {
    transform: rotate(-45deg);
}

.gameboard > #O::before {
    content: "";
    width: calc(var(--mark-size) * 0.85);
    height: calc(var(--mark-size) * 0.85);
    background-color: black;
    border-radius: 10rem;
    position: absolute;
}

.gameboard > #O::after {
    content: "";
    width: calc(var(--mark-size) * 0.65);
    height: calc(var(--mark-size) * 0.65);
    background-color: white;
    border-radius: 10rem;
    position: absolute;
}

.outcome-overlay {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: rgb(255, 0, 0);

    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition: opacity 0.2s ease-in-out;
}

.outcome-overlay.active {
    opacity: 0.5;
    pointer-events: auto;
    transition: opacity 0.2s ease-in-out;
    animation: fadeIn 0.2s ease-in-out;
}

.outcome-overlay > .popup {
    opacity: 1;
    width: 75vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.outcome-overlay > .popup > .outcome-msg {
    opacity: 1;
    padding: 1rem;
    color: white;
    font-size: 5rem;
    letter-spacing: 0.5rem;
}

.outcome-overlay > .popup > .restart-btn {
    opacity: 1;
    margin: 1rem;
    width: 8rem;
    height: 2.5rem;
    cursor: pointer;
}