:root {
    --field-size: 7.5rem;
    --mark-size: calc(var(--field-size) * 0.9);
}

body {
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;
    font-family: "Indie Flower", sans-serif;
    background-image: url(paper.jpg);
    background-size: cover;
}

.game-container {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "heading"
    "gameboard"
    "error";
    transition: opacity 0.5s ease-in-out;
}

.game-container.blur {
    filter: blur(4px);
    transition: opacity 0.5s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
}

.heading {
    font-size: 5rem;
    grid-area: "heading";
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.gameboard {
    grid-area: "gameboard";
    justify-self: center;
    align-self: center;

    display: grid;
    grid-template-columns: repeat(3, 8rem);
    grid-template-rows: repeat(3, 8rem);

    background-color: transparent;

    transition: opacity 0.5s ease-in-out;
}

.gameboard > .field {
    border: none;
    cursor: pointer;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gameboard > .field:nth-child(2),
.gameboard > .field:nth-child(5),
.gameboard > .field:nth-child(8) {
    border-left: 4px solid black;
    border-right: 4px solid black;
}

.gameboard > .field:nth-child(4),
.gameboard > .field:nth-child(5),
.gameboard > .field:nth-child(6) {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

.gameboard > #X::before,
.gameboard > #X::after {
    content: "";
    width: calc(var(--field-size) * 0.1);
    height: var(--mark-size);
    background-color: black;
    border-radius: 1rem;
    position: absolute;
}

.gameboard > #X::before {
    transform: rotate(45deg);
}

.gameboard > #X::after {
    transform: rotate(-45deg);
}

.gameboard > .X-hover::before,
.gameboard > .X-hover::after {
    content: "";
    width: calc(var(--field-size) * 0.1);
    height: var(--mark-size);
    background-color: rgb(127, 127, 127);
    border-radius: 1rem;
    position: absolute;
}

.gameboard > .X-hover::before {
    transform: rotate(45deg);
}

.gameboard > .X-hover::after {
    transform: rotate(-45deg);
}

.gameboard > #O::before {
    content: "";
    width: calc(var(--mark-size) * 0.59);
    height: calc(var(--mark-size) * 0.59);
    border: calc(var(--mark-size) * 0.1) solid black;
    border-radius: 10rem;
    position: absolute;
}

.gameboard > .O-hover::before {
    content: "";
    width: calc(var(--mark-size) * 0.59);
    height: calc(var(--mark-size) * 0.59);
    border: calc(var(--mark-size) * 0.1) solid rgba(127, 127, 127, 0.5);
    border-radius: 10rem;
    position: absolute;
}

.outcome-overlay {
    width: 100vw;
    height: 100vh;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: rgba(99, 99, 99, 0.5);

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.outcome-overlay.active {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
}

.outcome-overlay > .popup {
    width: 75vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.outcome-overlay > .popup > .outcome-msg {
    padding: 1rem;
    color: white;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
}

.outcome-overlay > .popup > .restart-btn {
    margin: 1rem;
    width: 8rem;
    height: 2.5rem;
    cursor: pointer;

    font-size: 1.15rem;
    letter-spacing: .15rem;

    border: 2px solid black;
    border-radius: 8px;
    color: black;
    background-color: white;
}

.outcome-overlay > .popup > .restart-btn:hover {
    background-color: rgb(212, 212, 212);
}

.error {
    grid-area: error;
    color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.error-msg {
    opacity: 0;
    color: White;
    background-color: rgba(255, 0, 0, 0.4);
    border: 1px solid red;
    border-radius: 8px;
    padding: 0.5rem;
    transition: opacity 0.5s ease-in-out;
    letter-spacing: 0.1rem;
}

.error-msg.active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    animation: fadeIn 0.5s ease-in-out;
}

.footer {
    text-align: center;
    width: 100vw;
    bottom: 0;
    left: 0;
    position: fixed;
    font-size: 1.2rem;
    padding: 0.5rem;
}